{namespace formvh=TYPO3\CMS\Form\ViewHelpers}

<formvh:renderRenderable renderable="{page}">
    <f:for each="{page.elements}" as="element">
        <f:render partial="{element.templateName}" arguments="{element: element}" />
    </f:for>
</formvh:renderRenderable>