{namespace formvh=TYPO3\CMS\Form\ViewHelpers}

<formvh:renderRenderable renderable="{element}">
    <div class="{element.properties.containerClassAttribute}">
        <f:if condition="{element.label}">
            <h3>{formvh:translateElementProperty(element: element, property: 'label')}</h3>
        </f:if>
        <f:if condition="{element.properties.text}">
            <p{f:if(condition: element.properties.elementClassAttribute, then: ' class="{element.properties.elementClassAttribute}"')}>{formvh:translateElementProperty(element: element, property: 'text') -> f:format.nl2br()}</p>
        </f:if>
    </div>
</formvh:renderRenderable>