{namespace ome=Olivermelle\OmEvergreen\ViewHelpers}

<f:variable name="headerTextColor">{ome:color.selectTextToBgImg(backgroundImage: images.0)}</f:variable>
<div
    class="ome-headercontent"
    style="--bs-body-color:{headerTextColor.color};{f:if(condition: headerTextColor.bgChange, then: '--ome-header-filter:brightness({headerTextColor.bgChange})')}"
    >
    <f:if condition="{images.0}">
        <f:render partial="CEHeaderImg" arguments="{_all}" />
    </f:if>
    <f:render partial="Header/All" arguments="{_all}" />
    <div class="container-xxl lead"><f:format.html>{data.bodytext}</f:format.html></div>
</div>