<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{menu}">
        <ul class="list-group list-group-flush">
            <f:for each="{menu}" as="page">
                <li class="list-group-item">
                    <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">{page.title}</a>
                    <f:if condition="{page.data.abstract}">
                        <f:format.html>{page.data.abstract}</f:format.html>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>