<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{menu}">
        <ul class="list-group list-group-flush">
            <f:for each="{menu}" as="page">
                <li class="list-group-item">
                    <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                        <span>{page.title}</span>
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>