{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{files}">
        <div class="list-group" role="list">
            <f:for each="{files}" as="file" iteration="fileIterator">
                <a
                    class="list-group-item list-group-item-action list-group-item-flex"
                    role="listitem"
                    href="{file.publicUrl}"
                    target="{data.target}"
                    title="{file.title}"
                    {f:if(condition: '{flexFormData} && {flexFormData.forceDownload}', then: 'download')}
                    >
                    <span class="ome-list-text">
                        <f:if condition="{data.uploads_type} == 1">
                            <span class="material-symbols" aria-hidden="true">
                                <f:switch expression="{file.type}">
                                    <f:case value="2">&#xe3f4;</f:case>
                                    <f:case value="3">&#xeb82;</f:case>
                                    <f:case value="4">&#xeb87;</f:case>
                                    <f:defaultCase>
                                        <vhs:condition.iterator.contains
                                            needle="{file.properties.extension -> f:format.case(mode: 'lower')}"
                                            haystack="{
                                                0: '7z', 1: 'br', 2: 'bz2', 3: 'cab', 4: 'gz', 5: 'lz', 6: 'lz4', 7: 'lzma', 8: 'lzo', 9: 'rar', 10: 's7z',
                                                11: 'tar', 12: 'tbz2', 13: 'tgz', 14: 'tlz', 15: 'txz', 16: 'xz', 17: 'z', 18: 'zip', 19: 'zipx', 20: 'zst'
                                            }"
                                            >
                                            <f:then>&#xeb2c;</f:then>
                                            <f:else>
                                                <vhs:condition.iterator.contains
                                                    needle="{file.properties.extension -> f:format.case(mode: 'lower')}"
                                                    haystack="{
                                                        0: 'sh', 1: 'bash', 2: 'csh', 3: 'ksh', 4: 'zsh', 5: 'cmd', 6: 'ps1'
                                                    }"
                                                    >
                                                    <f:then>&#xeb8e;</f:then>
                                                    <f:else>&#xe66d;</f:else>
                                                </vhs:condition.iterator.contains>
                                            </f:else>
                                        </vhs:condition.iterator.contains>
                                    </f:defaultCase>
                                </f:switch>
                            </span>
                        </f:if>
                        {f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}
                        <f:if condition="{data.uploads_description} && {file.properties.description}">
                            <br>{file.properties.description -> f:format.nl2br()}
                        </f:if>
                    </span>
                    <f:if condition="{data.filelink_size}">
                        <span class="badge bg-primary rounded-pill"><f:format.bytes value="{file.properties.size}" /></span>
                    </f:if>
                </a>
            </f:for>
        </div>
    </f:if>
</f:section>