<f:if condition="{gallery.position.noWrap}">
    <f:then>
        <div class="row">
        <div class="col-12 {f:if(condition: '{gallery.position.horizontal} == \'left\'', then: 'col-sm-4', else: 'col-sm-8')}">
    </f:then>
    <f:else>
        <div class="ome-image-{gallery.position.vertical} {gallery.position.horizontal} {f:if(condition: '{gallery.position.vertical} == \'intext\'', then: 'clearfix')}">
    </f:else>
</f:if>

<f:if condition="{gallery.position.vertical} != 'below' && !{gallery.position.noWrap}">
    <f:render partial="Media/Gallery" arguments="{_all}" />
</f:if>
<f:if condition="{gallery.position.noWrap}">
    <f:if condition="{gallery.position.horizontal} == 'left'">
        <f:then><f:render partial="Media/Gallery" arguments="{_all}" /></f:then>
        <f:else><f:format.html>{data.bodytext}</f:format.html></f:else>
    </f:if>
</f:if>

<f:if condition="{gallery.position.noWrap}">
    <f:then></div><div class="col-12 {f:if(condition: '{gallery.position.horizontal} == \'left\'', then: 'col-sm-8', else: 'col-sm-4')}"></f:then>
    <f:else><f:format.html>{data.bodytext}</f:format.html></f:else>
</f:if>

<f:if condition="{gallery.position.vertical} == 'below'">
    <f:render partial="Media/Gallery" arguments="{_all}" />
</f:if>
<f:if condition="{gallery.position.noWrap}">
    <f:if condition="{gallery.position.horizontal} == 'right'">
        <f:then><f:render partial="Media/Gallery" arguments="{_all}" /></f:then>
        <f:else><f:format.html>{data.bodytext}</f:format.html></f:else>
    </f:if>
</f:if>