{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
{namespace ome=Olivermelle\OmEvergreen\ViewHelpers}

<f:if condition="{gallery.rows}">
    <ome:gallery.columns columnCount="{gallery.count.columns}" name="cols">
        <div
            class="ome-imagegallery layout{f:if(condition: '{data.layout} == 0', then: 1, else: data.layout)}"
            style="--ome-imagecols: {cols.full}; --ome-imagecols-xs: {cols.xs}; --ome-imagecols-sm: {cols.sm}; --ome-imagecols-md: {cols.md}"
            >
            <f:for each="{gallery.rows}" as="row" iteration="rowIter">
                <f:for each="{row.columns}" as="column" iteration="colIter">
                    <f:if condition="{column.media}">
                        <ome:gallery.position
                            row="{rowIter.cycle}"
                            col="{colIter.cycle}"
                            columnCounts="{cols}"
                            name="pos"
                            hasFeatured="{data.layout} == 2 || {data.layout} == 4 || {data.layout} == 7 || {data.layout} == 8">
                            <f:render
                                partial="Media/Type"
                                arguments="{
                                    file: column.media,
                                    pos: pos,
                                    dimensions: column.dimensions,
                                    data: data,
                                    rootpage: rootpage,
                                    settings: settings
                                }"
                                />
                        </ome:gallery.position>
                    </f:if>
                </f:for>
            </f:for>
        </div>
    </ome:gallery.columns>

    <f:if condition="{data.image_zoom}">
        <div class="modal fade" id="modal-{data.uid}" tabindex="-1" aria-labelledby="modal-{data.uid}-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ome-modal-imagegallery">
                    <div class="modal-header">
                        <h2 id="modal-{data.uid}-title" class="modal-title">
                            <f:translate key='LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:imagegallery' arguments="{0: data.header}" />
                        </h2>
                        <button
                            type="button"
                            class="ome-close-button"
                            data-bs-dismiss="modal"
                            aria-label="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:modal.close')}"
                            >
                            <span class="material-symbols" aria-hidden="true">&#xe5cd;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="c{data.uid}-imagegallery" class="carousel slide" data-bs-interval="false">
                            <div class="carousel-indicators">
                                <f:for each="{gallery.rows}" as="row" iteration="rowIter">
                                    <f:for each="{row.columns}" as="column" iteration="colIter">
                                        <f:if condition="{column.media}">
                                            <button
                                                type="button"
                                                class="{f:if(condition: '{rowIter.index} == 0 && {colIter.index} == 0', then: 'active')}"
                                                aria-current="{f:if(condition: '{rowIter.index} == 0 && {colIter.index} == 0', then: 'true', else: 'false')}"
                                                data-bs-target="#c{data.uid}-imagegallery"
                                                data-bs-slide-to="{rowIter.index * gallery.count.columns + colIter.index}"
                                                aria-label="{f:translate(
                                                    key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:imagegallery.current',
                                                    arguments: '{0: \'{rowIter.index * gallery.count.columns + colIter.cycle}\'}'
                                                )}"
                                                >
                                            </button>
                                        </f:if>
                                    </f:for>
                                </f:for>
                            </div>
                            <div class="carousel-inner">
                                <ome:gallery.columns columnCount="{gallery.count.columns}" name="cols">
                                    <f:for each="{gallery.rows}" as="row" iteration="rowIter">
                                        <f:for each="{row.columns}" as="column" iteration="colIter">
                                            <f:if condition="{column.media}">
                                                <ome:gallery.position
                                                    row="{rowIter.cycle}"
                                                    col="{colIter.cycle}"
                                                    columnCounts="{cols}"
                                                    name="pos"
                                                    hasFeatured="{data.layout} == 2 || {data.layout} == 4 || {data.layout} == 7 || {data.layout} == 8">
                                                    <f:render
                                                        partial="Media/TypeCarousel"
                                                        arguments="{
                                                            file: column.media,
                                                            pos: pos,
                                                            isFirst: '{f:if(condition: \'{rowIter.index} == 0 && {colIter.index} == 0\', then: \'true\', else: \'false\')}',
                                                            dimensions: column.dimensions,
                                                            data: data,
                                                            rootpage: rootpage,
                                                            settings: settings
                                                        }"
                                                        />
                                                </ome:gallery.position>
                                            </f:if>
                                        </f:for>
                                    </f:for>
                                </ome:gallery.columns>
                            </div>
                            <button
                                class="carousel-control-prev"
                                type="button"
                                data-bs-target="#c{data.uid}-imagegallery"
                                data-bs-slide="prev"
                                aria-label="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:imagegallery.previous')}"
                                >
                                <span class="material-symbols x-large" aria-hidden="true">&#xe408;</span>
                            </button>
                            <button
                                class="carousel-control-next"
                                type="button"
                                data-bs-target="#c{data.uid}-imagegallery"
                                data-bs-slide="next"
                                aria-label="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:imagegallery.next')}">
                                <span class="material-symbols x-large" aria-hidden="true">&#xe409;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:if>
</f:if>
