/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(Ubuntu%7Citalic%7C400%7Cgreek-ext.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(Ubuntu%7Citalic%7C400%7Cgreek.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Ubuntu%7Cnormal%7C300%7Cgreek-ext.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Ubuntu%7Cnormal%7C300%7Cgreek.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Ubuntu%7Cnormal%7C400%7Cgreek-ext.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Ubuntu%7Cnormal%7C400%7Cgreek.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(Ubuntu%7Cnormal%7C500%7Cgreek-ext.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(Ubuntu%7Cnormal%7C500%7Cgreek.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
