{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
<vhs:condition.string.contains haystack="{settings.ome.consent.type}" needle="Usercentrics">
    <f:else>
        <div
            id="consent-banner"
            class="offcanvas offcanvas-bottom"
            tabindex="-1"
            data-bs-scroll="true"
            data-bs-backdrop="false"
            aria-labelledby="consent-banner-title"
            aria-describedby="consent-banner-text"
            >
            <button
                class="btn"
                id="consent-banner-showhide"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#consent-banner"
                aria-controls="consent-banner"
                aria-label="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.toggle')}"
                >
                <span class="material-symbols" aria-hidden="true">&#xe8b8;</span>
            </button>
            <div class="offcanvas-header">
                <h2 id="consent-banner-title" class="offcanvas-title h4">
                    <f:translate key="LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.title" />
                </h2>
            </div>
            <div class="offcanvas-body">
                <p id="consent-banner-text">
                    <f:translate key="LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.text" />
                </p>
                <div id="consent-purposes" class="accordion">
                    <div class="accordion-item">
                        <h3 id="consent-purposes-header" class="accordion-header">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#consent-purposes-content"
                                aria-expanded="false"
                                aria-controls="consent-purposes-content">
                                {f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.purposes')}
                            </button>
                        </h3>
                        <div id="consent-purposes-content" class="accordion-collapse collapse" aria-labelledby="consent-purposes-header" data-bs-parent="#consent-purposes">
                            <div class="accordion-body"></div>
                        </div>
                    </div>
                </div>
                <button id="consent-none" class="btn btn-sm btn-outline-primary">
                    {f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.allow.none')}
                </button>
                <button id="consent-selection" class="btn btn-sm btn-outline-primary">
                    {f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.allow.selection')}
                </button>
                <button id="consent-all" class="btn btn-primary">
                    {f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.allow.all')}
                </button><br>
                <f:if condition="{settings.ome.consent.legal}">
                    <f:link.page pageUid="{settings.ome.consent.legal}">
                        {f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.legal')}
                    </f:link.page>
                </f:if>
                <f:if condition="{settings.ome.consent.privacy}">
                    <f:link.page pageUid="{settings.ome.consent.privacy}">
                        {f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:consentbanner.privacy')}
                    </f:link.page>
                </f:if>
            </div>
        </div>
        <template id="consent-purpose-elem">
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label"></label>
            </div>
        </template>
    </f:else>
</vhs:condition.string.contains>