<f:if condition="{fontScriptLatin}">
    <f:asset.css identifier="fontCss" href="EXT:om_evergreen/Resources/Public/Fonts/{fontLatin}%7Clatin.css" />
</f:if>
<f:asset.css identifier="fontCss" href="EXT:om_evergreen/Resources/Public/Fonts/{font}%7C{fontScript}.css" />