<div class="container-xxl">
    <div class="row">
        <div class="col-xs-12 col-sm-6 ome-footer-logo">
            <f:render partial="NavbarLogo" arguments="{settings: settings, logo: logo}" />
        </div>
        <!--<div class="col-xs-12 col-sm-4">Lorem ipsum</div>-->
        <nav class="col-xs-12 col-sm-6">
            <ul class="nav flex-column">
                <f:for each="{footerMenu}" as="menuItem">
                    <li class="nav-item">
                        <a
                            href="{menuItem.link}"
                            class="nav-link {f:if(condition: '{menuItem.active}', then: 'active')}"
                            aria-current="{f:if(condition: '{menuItem.active}', then: 'page', else: 'false')}"
                            >
                            {menuItem.title}
                        </a>
                    </li>
                </f:for>
            </ul>
        </nav>
    </div>
</div>
