<f:link.page class="navbar-brand" pageUid="{rootpage}">
    <f:if condition="{logo}">
        <f:then>
            <f:image
                image="{logo.0}"
                alt="{logo.0.alt}"
                height="57m"
                />
        </f:then>
        <f:else>
            <f:image
                src="EXT:om_evergreen/Resources/Public/Images/om-evergreen-logo.svg"
                alt="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:logoNameDefault')}"
                />
        </f:else>
    </f:if>
</f:link.page>
