{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<nav class="navbar navbar-expand-lg {settings.ome.navbar.layout}" id="mainnav">
    <div class="container-xxl">
        <f:render partial="NavbarLogo" arguments="{settings: settings, logo: logo, rootpage: rootpage}" />
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#mainnav-items"
            aria-controls="mainnav-items"
            aria-labelledby="mainnav-title"
            aria-label="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:toggleNavigation')}"
            >
            <span class="material-symbols large" aria-hidden="true">&#xe5d2;</span>
        </button>
        <div class="offcanvas offcanvas-start" id="mainnav-items" tabindex="-1" aria-labelledby="mainnav-title">
            <div class="offcanvas-header">
                <div class="h5 offcanvas-title" id="mainnav-title">
                    <f:translate id="LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:navbar.title" />
                </div>
                <button
                    type="button"
                    class="ome-close-button"
                    data-bs-dismiss="offcanvas"
                    aria-label="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:navbar.close')}">
                    <span class="material-symbols" aria-hidden="true">&#xe5cd;</span>
                </button>
            </div>
            <div class="offcanvas-body navbar-navwrap">
                <f:render partial="NavbarInfo" arguments="{settings: settings}" />
                <ul class="navbar-nav">
                    <f:for each="{mainMenu}" as="menuItem" iteration="menuIter">
                        <li class="nav-item {f:if(condition: menuItem.children, then: 'ome-nav-hassub')}">
                            <a
                                href="{f:if(condition: menuItem.children, then: '#mainnav-submenu-{menuIter.index}', else: menuItem.link)}"
                                class="nav-link {f:if(condition: menuItem.active, then: 'active')}"
                                aria-current="{f:if(condition: menuItem.active, then: 'page', else: 'false')}"
                                {f:if(
                                    condition: menuItem.children,
                                    then: "data-bs-toggle=\"collapse\" role=\"button\" aria-expanded=\"false\" aria-controls=\"mainnav-submenu-{menuIter.index}\""
                                )}
                                >
                                {menuItem.title}
                            </a>
                            <f:if condition="{menuItem.children}">
                                <ul id="mainnav-submenu-{menuIter.index}" class="navbar-nav collapse ome-subnav-collapse">
                                    <f:for each="{menuItem.children}" as="subItem">
                                        <li class="nav-item">
                                            <a
                                                href="{subItem.link}"
                                                class="nav-link {f:if(condition: subItem.active, then: 'active')}"
                                                aria-current="{f:if(condition: subItem.active, then: 'page', else: 'false')}"
                                                >
                                                {subItem.title}
                                            </a>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
        <f:render partial="NavbarSearch" />
        <f:if condition="{languageMenu}">
            <div class="dropdown">
                <button
                    class="btn btn-link"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    aria-label="{f:translate(key: 'LLL:EXT:om_evergreen/Resources/Private/Language/locallang_fe.xlf:languageSelect')}"
                    >
                    <span class="material-symbols" aria-hidden="true">&#xe894;</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <f:for each="{languageMenu}" as="item">
                        <li lang="{item.twoLetterIsoCode}">
                            <f:if condition="{item.available}">
                                <f:then>
                                    <a
                                        href="{item.link}"
                                        hreflang="{item.hreflang}"
                                        class="dropdown-item {f:if(condition: item.active, then: 'active')}"
                                        aria-current="{f:if(condition: item.active, then: 'page', else: 'false')}"
                                        title="{item.navigationTitle}"
                                        >
                                        <bdi>{item.navigationTitle}</bdi>
                                    </a>
                                </f:then>
                                <f:else>
                                    <a
                                        role="disabled"
                                        aria-disabled="true"
                                        hreflang="{item.hreflang}"
                                        class="dropdown-item disabled {f:if(condition: item.active, then: 'active')}"
                                        aria-current="{f:if(condition: item.active, then: 'page', else: 'false')}"
                                        title="{item.navigationTitle}"
                                        >
                                        <bdi>{item.navigationTitle}</bdi>
                                    </a>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </div>
</nav>
