<f:render
    partial="FontCss"
    arguments="{font: settings.ome.font, fontLatin: settings.ome.fontLatin, fontScript: settings.ome.fontScript, fontScriptLatin: settings.ome.fontScriptLatin}"
    />
<div class="container-xxl visually-hidden-focusable">
    <a href="#content">Skip to main content</a>
</div>
<header class="ome-page-header">
    <f:render partial="Navbar" arguments="{_all}" />
    <f:render section="Header" />
</header>
<main id="content">
    <f:render section="Main" />
</main>
<footer class="ome-section ome-footer">
    <f:render partial="Footer" arguments="{_all}" />
</footer>
<f:render partial="Consent" arguments="{_all}" />