<f:if condition="{header}">
    <f:switch expression="{colPos}">
        <f:case value="0">
            <f:comment>Main (below the fold)</f:comment>
            <h2 class="{positionClass} ome-headerlayout-{layout}">
                {header}
                <f:render partial="Header/SubHeader" arguments="{subheader: subheader}" />
            </h2>
        </f:case>
        <f:case value="1">
            <f:comment>Header (above the fold)</f:comment>
            <h1 class="{positionClass} display-1 container-xxl">
                {header}
                <f:render partial="Header/SubHeader" arguments="{subheader: subheader}" />
            </h1>
        </f:case>
        <f:case value="2">
            <f:comment>Main (below the fold)</f:comment>
            <h2 class="{positionClass} ome-headerlayout-{layout}">
                {header}
                <f:render partial="Header/SubHeader" arguments="{subheader: subheader}" />
            </h2>
        </f:case>
        <f:defaultCase>
            <f:comment>colPos > 100 (Inside container)</f:comment>
            <h2 class="{positionClass} ome-headerlayout-{layout}">
                {header}
                <f:render partial="Header/SubHeader" arguments="{subheader: subheader}" />
            </h2>
        </f:defaultCase>
    </f:switch>
</f:if>
