<figure
    class="figure"
    style="
        --ome-imagerowpos-xs: {pos.row.xs};
        --ome-imagerowpos-sm: {pos.row.sm};
        --ome-imagerowpos-md: {pos.row.md};
        --ome-imagerowpos: {pos.row.full};
        --ome-imagecolpos-xs: {pos.col.xs};
        --ome-imagecolpos-sm: {pos.col.sm};
        --ome-imagecolpos-md: {pos.col.md};
        --ome-imagecolpos: {pos.col.full};
    "
    >
    <f:render
        partial="Media/Rendering/Audio"
        arguments="{id: data.uid, cycle: pos.cycle, file: file, rootpage: rootpage, dimensions: dimensions, settings: settings, border: data.imageborder}"
        />
    <f:if condition="{file.description}">
        <f:render partial="Media/Description" arguments="{description: file.description, layout: data.layout}" />
    </f:if>
</figure>