<figure
    class="figure"
    style="
        --ome-imagerowpos-xs: {pos.row.xs};
        --ome-imagerowpos-sm: {pos.row.sm};
        --ome-imagerowpos-md: {pos.row.md};
        --ome-imagerowpos: {pos.row.full};
        --ome-imagecolpos-xs: {pos.col.xs};
        --ome-imagecolpos-sm: {pos.col.sm};
        --ome-imagecolpos-md: {pos.col.md};
        --ome-imagecolpos: {pos.col.full};
    "
    >
    <f:if condition="{file.link}">
        <f:then>
            <f:link.typolink parameter="{file.link}" title="{file.title}">
                <f:render partial="Media/Rendering/Image" arguments="{file: file, border: data.imageborder}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <a href="#modal-{data.uid}" data-bs-toggle="modal" data-ome-image="{pos.cycle - 1}">
                        <f:render partial="Media/Rendering/Image" arguments="{file: file, border: data.imageborder}" />
                    </a>
                </f:then>
                <f:else>
                    <f:render partial="Media/Rendering/Image" arguments="{file: file, border: data.imageborder}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
    <f:if condition="{file.description}">
        <f:render partial="Media/Description" arguments="{description: file.description, layout: data.layout}" />
    </f:if>
</figure>
