<figure class="carousel-item {f:if(condition: '{isFirst} && {isFirst} == \'true\'', then: 'active')}">
    <f:render partial="Media/Rendering/ImageCarousel" arguments="{file: file}" />
    <f:if condition="{file.description}">
        <figcaption class="carousel-caption">
            {file.description -> f:format.nl2br()}
        </figcaption>
    </f:if>
</figure>
