{namespace ome=Olivermelle\OmEvergreen\ViewHelpers}

<f:layout name="Default" />

<f:section name="Header">
    <f:for each="{headerContent}" as="headerElem">
        <f:cObject
            typoscriptObjectPath="tt_content.{headerElem.data.CType}"
            data="{headerElem.data}"
            table="tt_content"
        />
    </f:for>
</f:section>

<f:section name="Main">
    <f:asset.css identifier="primaryColor" priority="true">
        :root {
            --bs-primary: {settings.ome.primaryColor};
            --bs-primary-rgb: {ome:color.hexToRgb(color: settings.ome.primaryColor)};
            --bs-primary-text: {ome:color.selectTextToBg(backgroundColor: settings.ome.primaryColor)};
            --bs-primary-hover: {ome:color.hoverColorAuto(color: settings.ome.primaryColor)};
            --bs-link-color: {ome:color.changeTextToFitBg(color: settings.ome.primaryColor, bgColor: '#fff')};
            --bs-link-hover-color: {ome:color.hoverColor(color: '{ome:color.changeTextToFitBg(color: settings.ome.primaryColor, bgColor: \'#fff\')}', direction: 'darken')};
            --bs-font-sans-serif: "{settings.ome.font -> f:format.raw()}", {f:if(condition: settings.ome.fontScriptLatin, then: '{settings.ome.fontLatin}, ')} system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
    </f:asset.css>
    <f:for each="{mainContent}" as="mainElem">
        <f:cObject
            typoscriptObjectPath="tt_content.{mainElem.data.CType}"
            data="{mainElem.data}"
            table="tt_content"
        />
    </f:for>
</f:section>
